In [92]:
# Import necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

In [93]:
#READING THE DATA
df=pd.read_csv("D:\credit_customers (DS).csv")
df.head()

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,personal_status,other_parties,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
0,<0,6.0,critical/other existing credit,radio/tv,1169.0,no known savings,>=7,4.0,male single,none,...,real estate,67.0,none,own,2.0,skilled,1.0,yes,yes,good
1,0<=X<200,48.0,existing paid,radio/tv,5951.0,<100,1<=X<4,2.0,female div/dep/mar,none,...,real estate,22.0,none,own,1.0,skilled,1.0,none,yes,bad
2,no checking,12.0,critical/other existing credit,education,2096.0,<100,4<=X<7,2.0,male single,none,...,real estate,49.0,none,own,1.0,unskilled resident,2.0,none,yes,good
3,<0,42.0,existing paid,furniture/equipment,7882.0,<100,4<=X<7,2.0,male single,guarantor,...,life insurance,45.0,none,for free,1.0,skilled,2.0,none,yes,good
4,<0,24.0,delayed previously,new car,4870.0,<100,1<=X<4,3.0,male single,none,...,no known property,53.0,none,for free,2.0,skilled,2.0,none,yes,bad

In [94]:
#1) HANDLING NULL VALUES
df.isnull().sum()

checking_status           0
duration                  0
credit_history            0
purpose                   0
credit_amount             0
savings_status            0
employment                0
installment_commitment    0
personal_status           0
other_parties             0
residence_since           0
property_magnitude        0
age                       0
other_payment_plans       0
housing                   0
existing_credits          0
job                       0
num_dependents            0
own_telephone             0
foreign_worker            0
class                     0
dtype: int64

In [95]:
df.duplicated().sum()

0

In [96]:
#REMOVING DUPLICATES
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [97]:
#LABEL ENCODING OR DUMMY VARIABLE CREATION
df["class"].unique()

array(['good', 'bad'], dtype=object)

In [98]:
df["class"].replace('good',1,inplace=True)
df["class"].replace('bad',0,inplace=True)

In [99]:
df['class'].value_counts()

1    700
0    300
Name: class, dtype: int64

In [100]:
df["credit_history"].unique()

array(['critical/other existing credit', 'existing paid',
       'delayed previously', 'no credits/all paid', 'all paid'],
      dtype=object)

In [101]:
df.credit_history=df.credit_history.map({'critical/other existing credit':0, 'all paid': 1, 'existing paid': 2, 'no credits/all paid':3, 'delayed previously':4})
df['credit_history'].value_counts()

2    530
0    293
4     88
1     49
3     40
Name: credit_history, dtype: int64

In [102]:
df ["purpose"].unique()

array(['radio/tv', 'education', 'furniture/equipment', 'new car',
       'used car', 'business', 'domestic appliance', 'repairs', 'other',
       'retraining'], dtype=object)

In [103]:
df.purpose=df.purpose.map({'radio/tv':0,'education':1,'furniture/equipment':2,'new car':3,'used car':4,'business':5,'domestic appliance':7,'repairs':7,'other':8,'retraining':9})
df['purpose'].value_counts()

0    280
3    234
2    181
4    103
5     97
1     50
7     34
8     12
9      9
Name: purpose, dtype: int64

In [104]:
df["savings_status"].unique()

array(['no known savings', '<100', '500<=X<1000', '>=1000', '100<=X<500'],
      dtype=object)

In [105]:
df.savings_status=df.savings_status.map({'no known savings':0,'>=1000':1,'500<=X<1000':2,'100<=X<500':3,'<100':4,'100<=X<500':5})
df['savings_status'].value_counts()

4    603
0    183
5    103
2     63
1     48
Name: savings_status, dtype: int64

In [106]:
df["employment"].unique()

array(['>=7', '1<=X<4', '4<=X<7', 'unemployed', '<1'], dtype=object)

In [107]:
df.employment=df.employment.map({'>=7':0, '1<=X<4':1, '4<=X<7':2, 'unemployed':3, '<1':4,})
df['employment'].value_counts()

1    339
0    253
2    174
4    172
3     62
Name: employment, dtype: int64

In [108]:
df["checking_status"].unique()

array(['<0', '0<=X<200', 'no checking', '>=200'], dtype=object)

In [109]:
df.checking_status=df.checking_status.map({'<0':0, '0<=X<200':1, 'no checking': 2, '>=200':3,})

df['checking_status'].value_counts()

2    394
0    274
1    269
3     63
Name: checking_status, dtype: int64

In [110]:
df["personal_status"].unique()

array(['male single', 'female div/dep/mar', 'male div/sep',
       'male mar/wid'], dtype=object)

In [111]:
df.personal_status=df.personal_status.map({'male single': 0, 'female div/dep/mar':1, 'male div/sep': 2, 'male mar/wid':3})
df['personal_status'].value_counts()

0    548
1    310
3     92
2     50
Name: personal_status, dtype: int64

In [112]:
df["other_parties"].unique()

array(['none', 'guarantor', 'co applicant'], dtype=object)

In [113]:
df.other_parties=df.other_parties.map({'none':0, 'guarantor':1, 'co applicant':2})
df['other_parties'].value_counts()

0    907
1     52
2     41
Name: other_parties, dtype: int64

In [114]:
df ["property_magnitude"].unique()

array(['real estate', 'life insurance', 'no known property', 'car'],
      dtype=object)

In [115]:
df.property_magnitude=df.property_magnitude.map({'real estate':1, 'life insurance': 2, 'no known property':0, 'car':3})
df['property_magnitude'].value_counts

<bound method IndexOpsMixin.value_counts of 0      1
1      1
2      1
3      2
4      0
      ..
995    1
996    2
997    3
998    0
999    3
Name: property_magnitude, Length: 1000, dtype: int64>

In [116]:
df["other_payment_plans"].unique()

array(['none', 'bank', 'stores'], dtype=object)

In [117]:
df.other_payment_plans=df.other_payment_plans.map({'none':0, 'bank':1, 'stores':2})
df['other_payment_plans'].value_counts()

0    814
1    139
2     47
Name: other_payment_plans, dtype: int64

In [118]:
df["housing"].unique()

array(['own', 'for free', 'rent'], dtype=object)

In [119]:
df.housing=df.housing.map({'own':1, 'for free': 2, 'rent':0})
df['housing'].value_counts()

1    713
0    179
2    108
Name: housing, dtype: int64

In [120]:
df["own_telephone"].unique()

array(['yes', 'none'], dtype=object)

In [121]:
df.own_telephone=df.own_telephone.map({'yes':1, 'none':0})

df['own_telephone'].value_counts()

0    596
1    404
Name: own_telephone, dtype: int64

In [122]:
df ["foreign_worker"].unique()

array(['yes', 'no'], dtype=object)

In [123]:
df.foreign_worker=df.foreign_worker.map({'yes':1, 'no':0})

df['foreign_worker'].value_counts()

1    963
0     37
Name: foreign_worker, dtype: int64

In [124]:
df["job"].unique()

array(['skilled', 'unskilled resident', 'high qualif/self emp/mgmt',
       'unemp/unskilled non res'], dtype=object)

In [125]:
df.job=df.job.map({'skilled': 1, 'unskilled resident': 0, 'high qualif/self emp/mgmt':2,'unemp/unskilled non res':3})

df['job'].value_counts()

1    630
0    200
2    148
3     22
Name: job, dtype: int64

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   checking_status         1000 non-null   int64
 1   duration                1000 non-null   float64
 2   credit_history          1000 non-null   int64
 3   purpose                 1000 non-null   int64
 4   credit_amount           1000 non-null   float64
 5   savings_status          1000 non-null   int64
 6   employment              1000 non-null   int64
 7   installment_commitment  1000 non-null   float64
 8   personal_status         1000 non-null   int64
 9   other_parties           1000 non-null   int64
 10  residence_since         1000 non-null   float64
 11  property_magnitude      1000 non-null   int64
 12  age                     1000 non-null   float64
 13  other_payment_plans     1000 non-null   int64
 14  housing                 1000 non-null   int64
 15  existing_credits        1000 non-null   float64
 16  job                     1000 non-null   int64
 17  num_dependents          1000 non-null   float64
 18  own_telephone           1000 non-null   int64
 19  foreign_worker          1000 non-null   int64
 20  class                   1000 non-null   int64
dtypes: float64(7), int64(14)
memory usage: 171.9 KB

In [128]:
#SELECTING X AND Y VARIABLES
X=df.iloc[0:1000, 1:21].values
y=df ['class']
print(type(X))
print(type(y))

<class 'numpy.ndarray'>
<class 'pandas.core.series.Series'>

In [131]:
#SPLITTING DATA INTO TRAINING AND TEST DATA

X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.3, random_state=42)

print(X_train.shape)

print(X_test.shape)

print(y_train.shape)

print(y_test.shape)

(700, 20)
(300, 20)
(700,)
(300,)

In [134]:
#LOGISTIC REGRESSION

lr_classifier = LogisticRegression(max_iter=1000)

lr_classifier.fit(X_train, y_train)

print('Train Score',lr_classifier.score(X_train, y_train))

print('Test Score',lr_classifier.score(X_test,y_test))

Train Score 1.0
Test Score 1.0

In [135]:
#KNN CLASSIFICATION

knn_classifier = KNeighborsClassifier()

knn_classifier.fit(X_train, y_train)

print('Train Score', knn_classifier.score (X_train, y_train))

print('Test Score', knn_classifier.score(X_test,y_test))

Train Score 0.7671428571428571
Test Score 0.6533333333333333

In [138]:
#SVM LINEAR CLASSIFIER
svm_linear_model=SVC(kernel='linear')
svm_linear_model.fit(X_train, y_train)
print('Train Score', svm_linear_model.score (X_train, y_train))
print('Test Score', svm_linear_model.score(X_test, y_test))

Train Score 0.9914285714285714
Test Score 0.9966666666666667

In [139]:
#SVM RBF CLASSIFIER

svm_rbf_model = SVC(kernel='rbf')

svm_rbf_model.fit(X_train, y_train)

print('Train Score', svm_rbf_model.score (X_train, y_train))

print('Test Score', svm_rbf_model.score(X_test, y_test))

Train Score 0.7085714285714285
Test Score 0.7133333333333334

In [142]:
#PREDICTING THE CLASS FOR TEST DATA

lr_predictions = lr_classifier.predict(X_test)

knn_predictions = knn_classifier.predict(X_test)

svm_linear_predictions=svm_linear_model.predict(X_test)

svm_rbf_predictions=svm_rbf_model.predict(X_test)

In [144]:
# CONFUSION MATRIX AND CLASSIFICATION REPORT

svm_rbf_confusion_matrix=confusion_matrix(y_test, svm_rbf_predictions)

svm_rbf_classification_report=classification_report(y_test, svm_rbf_predictions)

lr_confusion_matrix=confusion_matrix(y_test, lr_predictions)

lr_classification_report=classification_report(y_test, lr_predictions)

svm_linear_confusion_matrix=confusion_matrix(y_test, svm_linear_predictions)

svm_linear_classification_report=classification_report(y_test, svm_linear_predictions)

knn_confusion_matrix=confusion_matrix(y_test, knn_predictions)

knn_classification_report=classification_report(y_test, knn_predictions)

In [145]:
print(confusion_matrix(y_test, svm_rbf_predictions))

print(classification_report(y_test, svm_rbf_predictions))

[[  5  86]
 [  0 209]]
              precision    recall  f1-score   support

           0       1.00      0.05      0.10        91
           1       0.71      1.00      0.83       209

    accuracy                           0.71       300
   macro avg       0.85      0.53      0.47       300
weighted avg       0.80      0.71      0.61       300

In [146]:
#confusion matrix and classification report for Logistic Regression print(confusion_matrix(y_test, lr_predictions))

print(classification_report(y_test, lr_predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        91
           1       1.00      1.00      1.00       209

    accuracy                           1.00       300
   macro avg       1.00      1.00      1.00       300
weighted avg       1.00      1.00      1.00       300

In [148]:
#confusion matrix and classification report for KNN Classification print(confusion_matrix(y_test,knn_predictions))

print(classification_report(y_test, knn_predictions))

              precision    recall  f1-score   support

           0       0.39      0.24      0.30        91
           1       0.72      0.83      0.77       209

    accuracy                           0.65       300
   macro avg       0.55      0.54      0.53       300
weighted avg       0.62      0.65      0.63       300

In [149]:
print(confusion_matrix(y_test, svm_linear_predictions))

print(classification_report(y_test, svm_linear_predictions))

[[ 91   0]
 [  1 208]]
              precision    recall  f1-score   support

           0       0.99      1.00      0.99        91
           1       1.00      1.00      1.00       209

    accuracy                           1.00       300
   macro avg       0.99      1.00      1.00       300
weighted avg       1.00      1.00      1.00       300

In [154]:
knn_accuracy=accuracy_score(y_test, knn_predictions)

logistic_accuracy=accuracy_score(y_test, lr_predictions)

svm_rbf_accuracy=accuracy_score(y_test, svm_rbf_predictions)

svm_linear_accuracy=accuracy_score(y_test, svm_linear_predictions)

In [155]:
accuracy_scores = {

"Logistic Regression":logistic_accuracy,

"KNN Classification": knn_accuracy,

"SVM Linear Kernel": svm_linear_accuracy,

"SVM RBF Kernel": svm_rbf_accuracy

}

best_model = max(accuracy_scores, key=accuracy_scores.get)

best_accuracy = accuracy_scores [best_model]

print(f"The best model is {best_model} with an accuracy of {best_accuracy:.2f}")

The best model is Logistic Regression with an accuracy of 1.00